*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    height: 90vh;
    width: 70%;
    margin: 2rem auto;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main";
    gap: 20px;
}

.grid-item{
    background-color: brown;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    color: #fff;
}

#header{
    grid-area: header;
}

#aside{
    grid-area: aside;
}

#main{
    grid-area: main;
}




















































































































































































