*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
}

:root{
    --color-green: #1DB3C0;
    --color-orange: #FF4D52;
    --color-blue: #0B1E3D;
    --color-yellow: #FEDF05;
    --color-white: #fff;
    --color-black: #000;
}

header{
    background-color: #0B1E3D;
    height: 100vh;
}

.nav_bar{
        background-color: #FEDF05;
        padding: 2rem;
}

.bet_nav_logo{
    width: 15rem;
}

.bet_nav_logo img{
    width: 100%;
}